body {
    background-color: #323232;
    color: #ffffff;
}

.header {
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    background: #0c7586;
    color: white;
}


.grabit-form {
    margin: auto;
    width: 50%;
    /* border: 3px solid #6FB3B8; */
    padding: 10px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}